<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <Resource driverClassName="org.apache.derby.jdbc.EmbeddedDriver"
              name="jdbc/storage_system_ds" type="javax.sql.DataSource"
              url="jdbc:derby:storagesystem;create=true"
              username="user" password="secret"
            />
</Context>